<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #bdy{
            display: flex;
            justify-content: space-around;
        }
        #Log{
            background-color: greenyellow;
        }
        #reg{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <center id="bdy">
        <button id="Log"><a href="login">Login</a></button>
        <button id="reg"><a href="register">Register</a></button>
    </center>
</body>
</html>