<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="update" method="post">
        {% csrf_token %}
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{x.title}}" name="title"><br><br>
        <label for="exampleInputPassword1" class="form-label">Description</label>
        <input type="text" class="form-control" id="exampleInputPassword1" value="{{x.desc}}" name="desc"><br><br>
        <input type="text" value="{{x.sln}}" name="sln" style="display: none;">
        <form action="page" method="post">
            <input type="submit" class="bg-primary" value="submit">
        </form>
    </form>
</body>
</html>